<h1 id="tableLabel">Users</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="currentUser">You are logged in as {{currentUser.firstName}} {{currentUser.lastName}} with role <strong>{{currentUser.role}}</strong></p>
<p *ngIf="currentUser && currentUser.role !== 'Admin'"><em>Only admins can view this page</em></p>

<div *ngIf="currentUser?.role === 'Admin'">
  <p *ngIf="!users"><em>Loading...</em></p>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Territory</th>
      <th>Enabled?</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.territoryId }}</td>
      <td>{{ user.isEnabled ? "Yes" : "No" }}</td>
    </tr>
    </tbody>
  </table>
</div>
